<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container-fluid d-flex flex-wrap justify-content-around">
      <% photos.forEach(function(photo) { %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= photo.url %>" alt="album photo" />
      </div>
      <% }); %>
    </div>
  </body>
  <% include ../partials/scripts %>
</html>
